body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);

}

h1 {
    font-size: 70px;
    text-align: center;

}

h2 {
    font-size: 50px;
}


p,
li {
    font-size: 25px;
}

.recipes {
    font-size: 30px;
}

.food-images {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}